/*----------------
메인
------------------*/
/* 메인비주얼 */
.main-visual { position: relative; }
.visual-title { position: absolute; left: 50%; top: 4.1%; transform: translateX(-50%); width: 37.8125vw; }
.visual-ch { position: absolute; left: 36.6%; bottom: -4%; width: 31.9448vw; transform: rotate(1deg); }

.content-box {  position:relative;  width: 100%; margin: 0 auto; }
/* 종이 안내 */
.main-box2 { background: #B0EEAF; }
.paper-info { position: relative; margin-top: -16.667%; text-align: center; }
.paper-info .info-box { position: absolute; top: 47%; left: 0; width: 100%; }
.paper-info .info-box > ul { justify-content: space-evenly; padding: 0 5% 0 0%;}
.paper-info .info-box > ul li { color: #333; letter-spacing: -0.03rem; }
.paper-info .info-box > ul li:nth-child(2) { margin-top: -10px; }
.paper-info .info-box > ul li:nth-child(3) { margin-top: -25px; }
.paper-info .info-box > ul li h2 { font-size: clamp(16px, 2.6667vw, 32px); font-weight: 900; }
.paper-info .info-box > ul li p { font-size: clamp(12px, 1.8333vw, 22px); }
.paper-info .notice { margin-top: 4px; color: #333; font-size: clamp(10px, 1.8333vw, 20px); line-height: 150%; letter-spacing: -0.4px; }