@media (max-width: 1240px) {
  .paper-info {
    max-width: 100%;
    padding: 0 20px;
    margin: -13.499% auto 0;
  }
  .paper-info .info-box > ul li h2 {
    font-size: 28px;
  }
  .paper-info .info-box > ul li p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .inner {
    padding: 0 20px;
  }

  /* 헤더 */
  .top-bn .badge-box {
    padding: 5px 10px 5px 25px;
    font-size: 14px;
  }
  .top-bn p {
    font-size: 18px;
  }
  .top-bn .badge-box .icon {
    width: 60%;
  }
  .header-main {
    top: 80px;
  }

  .header-main .logo {
    max-width: 50px;
  }

  /* 메인 */
}
@media (max-width: 768px) {
  body .pc-view {
    display: none;
  }
  body .mo-view {
    display: block;
  }
  .header-main .btn-login {
    padding: 0;
    border: 0;
  }
  .header-main .btn-login span {
    font-size: 30px;
    vertical-align: middle;
  }
  .header-main .user-util {
    gap: 15px;
  }

  /* 메인 */
  .paper-info .info-box > ul li:nth-child(3) {
    margin-top: -15px;
  }
  .paper-info .info-box > ul li h2 {
    font-size: 18px;
  }
  .paper-info .info-box > ul li p {
    font-size: 12px;
  }
  .main-box3 .main-title h2 {
    padding: 3px 10px;
    font-size: 12px;
  }
  .main-box3 .main-title h2::before {
    bottom: -4%;
    width: 7px;
    height: 3px;
  }
  .main-box4 {
    padding: 35px 0 50px;
  }
  .main-box4 .main-title h2 {
    margin-bottom: 12px;
  }
  .main-box4 .main-title p {
    font-size: 20px;
  }
  .main-box4 .main-title span {
    max-width: 100px;
  }
}
@media (max-width: 450px) {
  .top-bn .badge-box {
    padding: 4px 5px 4px 15px;
    font-size: 11px;
  }
  .top-bn p {
    font-size: 15px;
  }
  .top-bn .badge-box .icon {
    width: 50%;
  }
  .header-main {
    top: 60px;
  }
  .header-main .logo {
    max-width: 40px;
  }
  .header-main .partner-logo {
    max-width: 60px;
  }
  .header-main .user-util {
    gap: 10px;
  }
  .header-main .btn-login span {
    font-size: 24px;
  }
  /* 메인 */
  .paper-info .info-box {
    top: 38%;
  }
  .paper-info .info-box > ul li:nth-child(2) {
    margin-top: 0;
  }
  .paper-info .info-box > ul li:nth-child(3) {
    margin-top: -5px;
  }
  .paper-info .info-box > ul li h2 {
    font-size: 14px;
  }
  .paper-info .info-box > ul li p {
    font-size: 10px;
  }
  .main-box4 .main-title p {
    font-size: 15px;
  }
}
