@media (max-width: 1800px) {
  /* 메인 */
  .subjects-tab .subjects-prev {
    left: 0;
  }
  .subjects-tab .subjects-next {
    right: 0;
  }
}
@media (max-width: 1240px) {
  .paper-info {
    max-width: 100%;
    padding: 0 20px;
    margin: -13.499% auto 0;
  }
  .paper-list::after {
    width: 6.8548vw;
    height: 10.3226vw;
  }
  .survey-box {
    margin-top: 3.7903vw;
    padding: 6.4516vw 4.8387vw;
  }
  .survey-box::after {
    right: 1.6935vw;
    width: 25vw;
    height: 19.9194vw;
  }
  .survey-box .form-wrap {
    gap: 3.5484vw;
  }
  .survey-box .form-item {
    padding-bottom: 3.5484vw;
  }
  .survey-box .form-item:last-child {
    border: 0;
  }
  .survey-box .form-item .question {
    margin-bottom: 2.5806vw;
  }
  .survey-box .form-item .form-question {
    font-size: 2.5806vw;
    letter-spacing: -0.1032vw;
  }
  .survey-box .form-item .form-question span {
    font-size: 1.6129vw;
    letter-spacing: -0.0323vw;
  }
  .survey-box .form-item .question p {
    padding-top: 1.2903vw;
    font-size: 1.9355vw;
    letter-spacing: -0.0774vw;
  }
  .survey-box .form-item .checkbox-group {
    max-width: 67.7419vw;
    gap: 1.2903vw;
  }
  .survey-box .form-item .checkbox-group label {
    width: calc(25% - 1.2903vw);
  }
  .survey-box .form-item .checkbox-group span {
    padding: 0.8065vw 1.9355vw;
    font-size: 1.9355vw;
    border-radius: 4.0323vw;
  }
  .survey-box .form-item .radio-group {
    gap: 1.9355vw;
  }
  .survey-box .form-item .radio-group label {
    gap: 0.6452vw;
  }
  .survey-box .form-item .radio-group label input {
    width: 1.9355vw;
    height: 1.9355vw;
  }
  .survey-box .form-item .radio-group label input::after {
    width: 1.9355vw;
    height: 1.9355vw;
  }
  .survey-box .form-item .radio-group input:checked::after {
  }
  .survey-box .form-item .radio-group label span {
    font-size: 1.9355vw;
    letter-spacing: -0.1161vw;
  }
  .survey-box .form-item input[type="url"] {
    max-width: 38.7903vw;
    height: 4.8387vw;
    padding: 1.2097vw 1.6129vw;
    font-size: 1.9355vw;
  }
  .survey-box .form-item textarea {
    width: 100%;
    height: 17.5vw;
    padding: 0.9677vw 1.6129vw;
    font-size: 1.6129vw;
  }
  .survey-box .form-item .text-wrap .count {
    bottom: 0.9677vw;
    right: 1.6129vw;
    font-size: 1.6129vw;
  }
  .submit-btn {
    max-width: 45.4839vw;
    margin: 4.167% auto 0;
  }
  .subjects-tab .subjects-prev,
  .subjects-tab .subjects-next {
    max-width: 5.2917vw;
    max-height: 5.2917vw;
  }
}
@media (max-width: 991px) {
  .inner {
    padding: 0 20px;
  }

  /* 헤더 */
  .top-bn .badge-box {
    padding: 5px 10px 5px 25px;
    font-size: 14px;
  }
  .top-bn p {
    font-size: 18px;
  }
  .top-bn .badge-box .icon {
    width: 60%;
  }
  .header-main {
    top: 80px;
  }

  .header-main .logo {
    max-width: 50px;
  }

  /* 메인 */
  .paper-info .info-box > ul {
    padding: 0 4% 0 0%;
  }
  .paper-info .info-box > ul li h2 {
    font-size: 3.2291vw;
  }
  .paper-info .info-box > ul li p {
    font-size: 2.22vw;
  }
  .paper-list::after {
    display: none;
  }
  .main-box3 .main-title .sub-title::before {
    width: 13px;
    height: 9px;
  }
  .main-box6 .btn {
    bottom: 9.535%;
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  body .pc-view {
    display: none;
  }
  body .mo-view {
    display: block;
  }
  .header-main .btn-login {
    padding: 0;
    border: 0;
  }
  .header-main .btn-login span {
    font-size: 30px;
    vertical-align: middle;
  }
  .header-main .user-util {
    gap: 15px;
  }

  /* 메인 */
  .tab-menu {
    top: auto;
    bottom: 6%;
  }
  .tab-menu::before {
    display: none;
  }
  .tab-menu a,
  .tab-menu li.top-btn {
    padding: 10px;
    font-size: 12px;
  }
  .tab-menu a span svg {
    height: 11px;
  }
  .paper-info .info-box > ul li:nth-child(3) {
    margin-top: -15px;
  }
  .main-box3 .main-title h2 {
    padding: 3px 10px;
    font-size: 12px;
  }
  .main-box3 .main-title h2::before {
    bottom: -4%;
    width: 7px;
    height: 3px;
  }
  .main-box4 {
    padding: 35px 0 50px;
  }
  .main-box4 .main-title h2 {
    margin-bottom: 12px;
  }
  .main-box4 .main-title p {
    font-size: 20px;
  }
  .main-box4 .main-title span {
    max-width: 100px;
  }
  .main-box5 {
    padding: 10.0908vw 0 14.1271vw;
  }
  .main-box5 .main-title {
    gap: 1.2109vw;
  }
  .main-box5 .main-title span svg {
    width: 11.5035vw;
    height: 5.5499vw;
  }

  .main-box7 .main-title h2 span {
    max-width: 21px;
  }
  .main-box7 {
    padding: 6.9767vw 0 9.3023vw;
  }
  .main-box7 .main-title h2 {
    gap: 1.1628vw;
    padding-bottom: 4.6512vw;
    font-size: 4.6512vw;
    letter-spacing: -0.093vw;
  }
  .main-box7 .notice-box {
    gap: 4.6512vw;
  }
  .main-box7 .notice-box p {
    font-size: 2.5581vw;
    letter-spacing: -0.0512vw;
  }
}
@media (max-width: 450px) {
  .top-bn .badge-box {
    padding: 4px 5px 4px 15px;
    font-size: 11px;
  }
  .top-bn p {
    font-size: 15px;
  }
  .top-bn .badge-box .icon {
    width: 50%;
  }
  .header-main {
    top: 60px;
  }
  .header-main .logo {
    max-width: 40px;
  }
  .header-main .partner-logo {
    max-width: 60px;
  }
  .header-main .user-util {
    gap: 10px;
  }
  .header-main .btn-login span {
    font-size: 24px;
  }
  /* 메인 */
  .tab-menu a span svg {
    height: 11px;
  }
  .paper-info .info-box {
    top: 42%;
  }
  .paper-info .info-box > ul li:nth-child(2) {
    margin-top: 0;
  }
  .paper-info .info-box > ul li:nth-child(3) {
    margin-top: -5px;
  }

  .main-box4 .main-title p {
    font-size: 15px;
  }
}
